
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px
}

.dashboard_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.dashboard_message {
  text-align: justify;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  margin: auto;
}

.scrollable {
  max-height: 20;
  overflow: scroll;
  overflow-y: scroll;
}

.FixedHeightContainer
{
  float:right;
  height: 500px;
  width:500px; 
  padding:3px; 
}
.Content
{
  height:224px;
  overflow:auto;
  background:#fff;
}

.record {
  display: flex;
  justify-content: space-between;

}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


tr:hover {background-color: coral;}

th {
  background-color: lightpink;
  color: black;
}

.column_dashboard {
    width: 50%;
    padding: 2%;
}
  
  
/* Clear floats after the columns */
.row_dashboard {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 100px);
    margin-bottom: 20px;
}

.heighttext{
    height:30px
}