/* Create three equal columns that floats next to each other */
.column_form {
  width: 20.00%;
  padding: 2%;
}

.column_images {
  width: 40.00%;
  padding: 2%;
}


/* Clear floats after the columns */
.row {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 100px);
  margin-bottom: 20px;
}
